## Datatypes

- Python can say data type of the value without initializing.

- Which means the datatype automatically consider

- Python has some in built datatype structure

- int : integer
- float
- str : string
- bool : boolean
- complex
- list
- tuple
- dict : dictionary
- set
- frozenset
- bytes
- bytearray
- memoryview

#### Integer

In [6]:
num = 100
type(num)

int

In [8]:
print(num)

100

In [ ]:
print()
type()

In [ ]:
# we have numerical language
# age = 20
# distance = 20
# salary = 20000
# mars
# mars ==== earth
# how old are you = 7 years
# earth ===== mars
# 0b111

**binary number system**

- digits : 0,1,2,3,4,5,6,7,8,9

- binary : bi means two : 0 and 1

- representation is : 0b001, 0b111, 0b101,0B111

- wrong representation is: o, 0b102

In [13]:
0b111

7

In [15]:
0b10101

21

In [17]:
0b1010

10

In [19]:
0b1111

15

In [ ]:
2^2 = 4 2^1 = 2 2 ^0 = 1
0         0          0   0
0         0          1   1
0         1          0   2
0         1          1   3
1         0          0   4
1         0          1   5
1         1          0   6
1         1          1   7

In [ ]:
2^3 = 8   2^2 = 4    2^1 = 2    2 ^0 = 1
    0         0            0          0       0
    0        0            0          1       1
    0         0            1          0       2
    0        0            1          1       3
    0       1            0          0       4
    0      1            0          1       5
             1            1          0       6
             1            1          1       7

In [21]:
0b1100,0b1110

(12, 14)

**octal number system**

- digits : 0,1,2,3,4,5,6,7,8,9

- octa : octa means 8 : 0,1,2,3,4,5,6,7

- representation is : 0o567, 0o732

- wrong representation is: o, 0o896

In [26]:
0o4224

2196

In [28]:
0o123

83

**HexaDecimal number system**

- digits : 0,1,2,3,4,5,6,7,8,9

- octa : octa means 8 : 0,1,2,3,4,5,6,7,8,9, A=10, B= 11,C= 12,D= 13,E= 14,F=15

- representation is : 0X567, 0x123, 0xabc

- wrong representation is: 'o' as start, 0h67

In [32]:
0X123

291

In [34]:
0Xabc

2748

**float**
- float numbers means continuos points
- float numbers means having some decimals.
- Integer number means discrete points.

In [2]:
number = 100.25
type(number)

float

- float points can represent as exponential format **e**

In [6]:
1e10

10000000000.0

In [8]:
1e1  #1*10
1e2  #1*100
1e3  #1*1000

(10.0, 100.0, 1000.0)

In [10]:
2e2 #2*100

200.0

In [12]:
1e+1 #1*10
1e+2 #1*100
1e+3 #1*1000 (Only latest value is visible in jupyter notebooks)

1000.0

In [14]:
print(1e+1)
print(1e+2)
print(1e+3)

10.0
100.0
1000.0

In [16]:
1e+1,1e+2,1e+3

(10.0, 100.0, 1000.0)

In [18]:
1e-1,1e-2,1e-3

(0.1, 0.01, 0.001)

In [20]:
print(1e-1) #1/10
print(1e-2) #1/100
print(1e-3) #1/1000

0.1
0.01
0.001

In [22]:
1e+2

100.0

In [24]:
1e-15 #1/100000000000000000000000

1e-15

**Strings**

- Strings means english characters.

In [28]:
name = "Python"
type(name)

str

In [32]:
number = '10'
type(number)

str

In [36]:
sen1 = "Hello! I like 'Python'"
print(sen1)

Hello! I like 'Python'

In [38]:
sen2 = 'Hello! I like "Python"'
print(sen2)

Hello! I like "Python"

- Entire Sentence in single codes, then use double quotes to highlight the word.
- Entire Sentence in double quotes, the use single quotes to highlight the word.

In [41]:
name = 'python'
name

'python'

In [43]:
name = 'python'
print(name)

python

In [47]:
name1= 'python'
name2 = 'naresh'
name2
name1

'python'

In [49]:
name1= 'python'
name2 = 'naresh'
print(name2)
print(name1)

naresh
python

In [ ]:
hello good morning
how are you with out /n

In [55]:
statement = """Hello I like 'python' 
                hai good morning
                class data types"""
print(statement)

Hello I like 'python'
                hai good morning
                class data types

**Doc string**

- If we want to convey information to the user
  
- we will write a statements before coding part
  
- is called as Doc string
  
- In jupyter notebook to convey information we have **markdown**
  
- But in VSCode we don't have a Markdown option
  
- We convey the information by using **triple quotes**
  
- If we see anywhere triple quotes means the user trying to convey the information.

In [59]:
"""
write something
"""
'''
write something
'''

'\nwrite something\n'

**Boolean**

In [62]:
value = True
type(value)

bool

In [64]:
value = False
type(value)

bool

In [ ]:
true = 'True'
true = True
true = 10