In [3]:
import os
os.getcwd()
#get current working directory(cwd)

'C:\\Users\\Hp\\Documents\\Python_sessions'

## Variables

Varibales are used to store the values, and the values can be changed.

In [8]:
num = 100
#value 100 is stored in a variable called : num
print(num)

100

In [12]:
num = 200
print(num)

200

In [14]:
NUMBER = 200
NUMBER

200

In [16]:
number = 300
number

300

In [18]:
number, NUMBER

(300, 200)

In [20]:
number123 = 300
number123

300

In [22]:
123number = 400
123number

SyntaxError: invalid decimal literal (2979435193.py, line 1)

In [ ]:
number #works
NUMBER #works
number123 #works
123number #Notworks

In [25]:
NUMBERone = 500
NUMBERone

500

In [27]:
number$one=600
number$one

SyntaxError: invalid syntax (275804197.py, line 1)

In [29]:
number&one = 600
number&one

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1679305489.py, line 1)

In [31]:
number*one = 900
number*one

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2319641898.py, line 1)

In [35]:
number_one = 1000
number_one

1000

In [37]:
number one = 2000
number one

SyntaxError: invalid syntax (1252336201.py, line 1)

In [ ]:
number #works
NUMBER #works
number123 #works
123number #Notworks
number$one #NM
number&one #NW
number*one #NW
number_one #W
number one #NW
if = 100 #NW
_ = 200 #works

In [ ]:
#Special Characters : Keywords
if
else
True
False
for
while

- Variables can be Capital letters
- Variables can be a small letter
- Variables can be a mix of both capital and small letters
- Variables can be a mix of letters and numbers as **suffix**
- Variables can not be a mix of letters and numbers as **prefix**
- Variables can not be include special characters except **underscore**
- Variables can not be include a **space between words** 
- Only Underscore is also considered as variables
- Inbuilt keywords can not be a variables.

In [44]:
_ = 890
_

890